<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Fostering Franco-American academic exchange.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Academic and Cultural Exchange</h4>
                    <p class="text-muted">Since Benjamin Franklin sat in Le Procope negotiating loans for a fledgling republic, the United States and France have had a tightly intertwined relationship.  Today that relationship is strengthened by the ease with which we can travel to study and work.  However, there are few funding opportunities for graduate students coming from the United States to study in France.  We hope to begin to fill this gap.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Untapped Potential</h4>
                    <p class="text-muted">As the G8 moves to an increasingly service oriented economy the need for high skill services grows.  To be able to grasp the upper-middle class opportunities once easily within reach of the average American students today need advanced degrees and international experience.  To help American students to compete on the international job market we plan to offer scholarships to study at some of the most prestigious institutions in Europe.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Equality of Opportunity</h4>
                    <p class="text-muted">It is not impossible for an American to study in France and it is often more affordable.  However, the barriers to entry are high, with expensive plane tickets, high prices for cost of living, and complicated immigration procedures.  Because of these high barriers, many less wealthy students don't even consider advanced study in France.  In order to level the playing field, we plan to take into account one's personal financial situation alongside academic success.</p>
                </div>
            </div>
        </div>
    </section>
