<!-- Get Involved Section -->
    <section id="involve">
        <div class="container">
            <div class="column">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get involved!</h2>
                    <h3 class="section-subheading text-muted">The easiest and most effective way to help.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <p><button type="button" class="btn"><a href="https://www.classy.org/checkout/donation?eid=51911" target="_blank">Donate</a></button></p>
                    <p class="text-muted">You can help out by donating today.</p>
                    <p class="text-muted">Tuition and fees at French universities are low, but American graduate students in Frnace often don't qualify for US government loans.  Alongside this, there are few scholarships geared towards Americans.  You can help to encourage more American students to study in France by giving to our scholarship fund today.</p>
                    <p class="text-muted">If you feel like you have something more to offer, don't hesitate to <a class="page-scroll" href="#contact">contact us.</a>  We are open to partnering with individuals and organizations to better serve students.</p>
                </div>

            </div>
        </div>
    </section>
